
<h1>Edit {{book.title}}</h1>

<form action="/books/edit" method="post">
    <div class="uk-margin">
        <label class="uk-form-label" for="title">Book name</label>
        <div class="uk-form-controls">
            <input class="uk-input" name="title" value="{{book.title}}" id="title" type="text" placeholder="Some text..." required>
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="price">Book price</label>
        <div class="uk-form-controls">
            <input class="uk-input" name="price" value="{{book.price}}" id="price" type="number" placeholder="Some number..." required>
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="image">Book image URL</label>
        <div class="uk-form-controls">
            <input class="uk-input" name="image" value="{{book.image}}" id="image" type="text" placeholder="Some image URL..." required>
        </div>
    </div>
    <input type="hidden" name="id" value="{{book.id}}">
    <button class="uk-button uk-button-default">edit book</button>
</form>
